// colors
$pink-button: #c23866;
$purple-background: #1b1523;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

//jsx
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  background: $purple-background;
  color: #fff;
}
